* {
    padding: 0;
    margin: 0;
}

.outward {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 30px;
    margin-left: 100px;
}

.searchBar {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    background-color: brown;
    height: 15vh;
    width: 100%;
}

.placeholder {
    display: flex;
    height: 25vh;
    width: 60%;
    background-color: #97DFFC;
    outline: #3D0E61 solid 3px;
}