* {margin: 0; padding: 0; /**outline: red 2px solid;**/}

header{scroll-behavior: smooth;}
.cursor-pointer{cursor: pointer;}

/** flex **/
.flex-justify-content-center{display: flex; justify-content: center;}
.flex-align-items-center{display: flex; align-items: center;}
.flex-column{display: flex; flex-direction: column;}
.flex-row{display: flex; flex-direction: row;}

/** font style **/
.font-style-italic{font-style: italic;}
.font-weight-bold{font-weight: bold;}
.font-weight-light{font-weight: 300;}

/** font size **/
.font-size-20px{font-size: 20px;}
.font-size-13px{font-size: 13px;}

/** color **/
.color-white{color: #FFFFFF;}
.color-333{color: #333;}

/** background color **/
.bg-color-cream{background-color: #FAF3E0;}
.bg-color-light-blue{background-color: #A2ECFF;}

/** outline **/
.outline-blue-2px{outline: #2c8ca4 solid 2px;}

/** border radius **/
.border-radius-20px{border-radius: 20px;}
.border-radius-top-20px{border-radius: 20px 20px 0 0;}

/** top margin **/
.top-margin-100px{margin-top: 100px;}
.top-margin-20px{margin-top: 20px;}

/** section 1 terms **/
.terms-section{width: 100%;}
.terms-container{width: 90%;}
.terms-title{margin-bottom: 0;}

.terms-box{width: 100%;}
.terms-header{width: 100%; height: 7vh;}
.terms-header-title{padding: 10px 20px;}

.terms-inner{
    margin-left: 1%;
    width: 98%;
    padding: 20px 0px;
    gap: 24px;
    margin-bottom: 20px;
}

.terms-block{
    width: 95%;
    margin-left: 2%;
    gap: 8px;
}

.terms-block-title{
    margin-bottom: 4px;
}

.terms-text{
    line-height: 1.8;
}