* {
  padding: 0;
  margin: 0;
  font-weight: 100;
}

.test {
  height: 400px;
}

.landingspagina {
  background-image: url("../img/homeScreenImg.png");
  width: 100%;
  height: 93vh;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.travel-search-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 0.6vw;
  height: 3vw;
  width: auto;
  background-color: #FFFFFF;
  padding: 20px;
  padding-bottom: 15px;
  border-radius: 10px;
  color: #7F7F7F;
}

.departure-box-search {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 5px;
  width: auto;
  height: auto;
}

.departure {
  display: flex;
  align-items: center;
  width: auto;
  height: 25px;
  outline: #7F7F7F solid 1px;
  border-radius: 7px;
  padding-left: 3px;
}

.destination-box-search {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 5px;
  width: auto;
  height: auto;
}

.destination {
  display: flex;
  align-items: center;
  width: auto;
  height: 25px;
  outline: #7F7F7F solid 1px;
  border-radius: 7px;
  padding-left: 3px;
}

.hotel-box-search {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 5px;
  width: 5vw;
  height: auto;
}

.hotel img{
  display: flex;
  justify-content: space-evenly;
}

.hotel {
  display: flex;
  align-items: center;
  width: auto;
  height: 25px;
  outline: #7F7F7F solid 1px;
  border-radius: 7px;
  padding-left: 3px;
}

.departure-date-box-search {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 5px;
  width: 8vw;
  height: auto;
}

.departure-date {
  display: flex;
  align-items: center;
  width: auto;
  height: 25px;
  outline: #7F7F7F solid 1px;
  border-radius: 7px;
  padding-left: 3px;
}

.return-date-box-search {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 5px;
  width: 8vw;
  height: auto;
}

.return-date {
  display: flex;
  align-items: center;
  width: auto;
  height: 25px;
  outline: #7F7F7F solid 1px;
  border-radius: 7px;
  padding-left: 3px;
}

.people-box-search {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 5px;
  width: 5vw;
  height: auto;
}

.people {
  display: flex;
  align-items: center;
  width: auto;
  height: 25px;
  outline: #7F7F7F solid 1px;
  border-radius: 7px;

}

.box-search {
  display: flex;
  width: 5vw;
  height: 15px;
  padding: 10px;
  align-self: center;
  align-items: center;
  justify-items: center;
  background-color: #A2ECFF;
  border-radius: 15px;
  color: #000;
  outline: 1px solid #4E148C;
  margin-left: 5px;
}