* {
    padding: 0;
    margin: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.title {
    margin-top: 15px;
}

.bubble {
    background-color: #A2ECFF;
    height: 60vh;
    width: 35%;
    border-radius: 20px;
    padding-top: 10px;
    outline: solid 3px;
    outline-color: #3D0E61;
}

.form {
    margin: 10px;
    padding: 6px;
    width: 60%;
    margin-top: 10px;
    border-radius: 10px;
}

.total-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column; 
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.button {
    margin: 10px;
    width: 30%;
    height: 5vh;
    background-color: #3D0E61;
    color: white;
}

.a {
    margin: 5px;
    width: 30%;
    height: 5vh;
    text-decoration: none;
    color: black;
}